@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');


.main_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}



.main_container > p  {
  position: absolute;
  top: 120px;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.3px;
  animation: softBlink 1.8s infinite ease-in-out;
 font-family: "Noto Sans", sans-serif;;
}

@keyframes softBlink {
  0% { opacity: 1; }
  50% { opacity: 0.35; } 
  100% { opacity: 1; }
}

.main {
  width: 420px;
  padding: 40px 35px;
  border-radius: 20px;
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.main input {
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.15);
  color: white;
  font-size: 15px;
  outline: none;
  transition: 0.2s ease;
  backdrop-filter: blur(5px);
}

.main input::placeholder {
  color: #ddd;
}

.main input:focus {
  background: rgba(255, 255, 255, 0.25);
  transform: scale(1.02);
}

.main button {
  padding: 14px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background: linear-gradient(90deg, #6d4aff, #b300ff);
  transition: 0.25s ease;
}

.main button:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(160, 72, 255, 0.6);
}
