.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(120deg, #561676, #21165C, #E9BD64);
  background-size: cover;
  color: #fff;
  font-family: "Exo 2", sans-serif;
}

.auth-box {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  width: 350px;
  text-align: center;
}

.auth-box h2 {
  margin-bottom: 25px;
  font-weight: 400;
  color: #fff;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #ddd;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 14px;
}

.input-group input:focus {
  outline: 2px solid #b57eff;
}

.auth-btn {
  background: #b57eff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background 0.3s ease;
}

.auth-btn:hover {
  background: #d0aaff;
}

.auth-footer {
  margin-top: 20px;
  font-size: 14px;
}

.auth-link {
  color: #ffb3ff;
  text-decoration: none;
  font-weight: bold;
}

.auth-link:hover {
  text-decoration: underline;
}
